# APP
APP_NAME=ez-php-queue
APP_ENV=local
APP_DEBUG=true

# Database (for DatabaseDriver)
DB_HOST=db
DB_PORT=3306
DB_DATABASE=ez_php
DB_USERNAME=ez_php
DB_PASSWORD=secret
DB_HOST_PORT=3310

# Redis (for RedisDriver)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_PORT=6381
